for (let iteration = 0; iteration < 60; iteration++) {
    let outputLayerError = 0

    for (let i = 0; i < inputs.shape[0]; i++) {
        //  Feedforward step ...

        error = nj.add(outputLayerError, nj.sum(nj.power((
            nj.subtract(outputLayer, outputs.slice([i, i + 1]))), 2)
        ))

    }
}