for (let iteration = 0; iteration < 60; iteration++) {
    let outputLayerError = 0

    for (let i = 0; i < streetlights.shape[0]; i++) {
        //  Feedforward step ...

        outputLayerError = nj.add(outputLayerError, nj.sum(nj.power((nj.subtract(outputLayer, walkVsStop.slice([i, i + 1]))), 2)))

    }

    if (iteration % 10 == 9) {
        console.log(`Error: ${outputLayerError.tolist()}`)
    }
}